<!--
<h1>example: {{example}}</h1>

<h1>site_setup: {{site_setup.title}} <br> {{site_setup.description}}</h1>

<img src="{{site_setup.favicon.url}}" alt="">
-->

<aside class="menu white_bg">
    <div class="main_content" id="menu_content">

        <header>
            <div class="text-header-menu">
                <h1>Blog do Filipe</h1>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, vel placeat atque omnis eveniet, sit ut harum laboriosam reiciendis, repellendus consequuntur ratione natus. Similique voluptatem iure eos error, debitis quidem!Z Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum incidunt placeat delectus laborum. Quod, mollitia! Laboriosam voluptas incidunt itaque voluptatem et ab exercitationem aliquam porro odio accusamus, perferendis aperiam obcaecati.</p>
            </div>
        </header>
        
        <nav class="list_content">

            <div class="search pb-base center">
                <form class="search-form" action="#" method="get">
                  <div class="search-content">
                    <label class="sr-only" id="search-label" for="search-input">Search</label>
                    <input
                      class="search-input"
                      type="search"
                      name="search"
                      id="search-input"
                      placeholder="Search"
                      value="Non risu potius quam oratione eiciendum? Quo pleb "
                    >
                    <button class="search-btn" type="submit" aria-labelledby="search-label">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </form>
              </div>

            <ul class="list_links">
                <li><a href="{% url "blog:post" %}">Post</a></li>
                <li><a href="{% url "blog:page" %}">Page</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
    </div>
</aside>

