
{% for post in page_obj%}
    <article class="card">
      {% if post.cover %}
        <div class="card-img-box">
          <a href="{{post.get_absolute_url}}" class="card-img-link">
            <img src=" {{post.cover.url}}" alt="cover do post: {{post.title}}">
          </a>
        </div>
      {% endif %}
      <div class="card-text-box">
          <div class="card-title-box">
              <h2 class="card-title">
                <a href="{{post.get_absolute_url}}" class="card-title-link">
                  {{post.title}}
                </a>
              </h2>
          </div>
      
          <div class="card-content-box">
              <p class="card-content-p">
                {{post.excerpt | safe }}
              </p>
        
              <div class="card-actions-box">
                <a class="card-action-link" href="#">
                  <span>Read</span>
                  <i class="fa-solid fa-circle-arrow-right"></i>
                </a>
              </div>
          </div>
      </div>
    </article>
{% endfor %}

  