{% extends 'blog/base.html' %} 

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="single-post-content section-content-medium">
    <div class="section-gap">
      
      {% for post in posts  %}
        <div class="single-post-img padding-bottom-base">
          <img loading="lazy" src="https://picsum.photos/1920/1080/?rand=12" alt="Change me">
        </div>

        <h2 class="single-post-title padding-bottom-base text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h2>

        <div class="post-meta padding-bottom-base">
              <div class="post-meta-item">
                <a class="post-meta-link" href="#">
                  <i class="fa-solid fa-user"></i>
                  <span>
                    Author_name
                  </span>
                </a>
              </div>

              <div class="post-meta-item">
                <a class="post-meta-link" href="#">
                  <i class="fa-solid fa-calendar-days"></i>
                  <span>
                    data_create
                  </span>
                </a>
              </div>

              <div class="post-meta-item">
                <a class="post-meta-link" href="#">
                  <i class="fa-solid fa-tag"></i>
                  <span>
                    {% for category in categorys  %}
                      {{category.name}}
                    {% endfor %}
                  </span>
                </a>
              </div>
        </div>
        

        <p class="single-post-excerpt padding-bottom-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, vero
          fugiat eum perferendis accusamus enim quos obcaecati. Voluptates a vel
          obcaecati ipsa in dignissimos facere odio et, ab provident assumenda!
        </p>

        <div class="separator"></div>

        <div class="single-post-content">
          {% include 'blog/partials/_temp.html' %} 
        
          <div class="post-tags">
            <span>Tags: </span>

            {% for tag in tags  %}
              <a class="post-tag-link" href="#">
                <i class="fa-solid fa-link"></i>
                <span>{{tag.name}}</span>
              </a>
            {% endfor %}

          </div>
          
        </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock content %}