<!--
<h1>example: {{example}}</h1>

<h1>site_setup: {{site_setup.title}} <br> {{site_setup.description}}</h1>

<img src="{{site_setup.favicon.url}}" alt="">
-->

<aside class="menu white_bg">
    <div class="main_content" id="menu_content">
        <h1 id="logo"><a href="#">Logo</a></h1>
        
        

        <nav class="list_content">
            <ul class="list_link_menu">
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
        </nav>
    </div>
</aside>

<aside>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum maxime debitis animi commodi sapiente voluptate temporibus nesciunt id ducimus nisi assumenda et reprehenderit, rem dolores. Voluptatem, sapiente? Facere, fuga aliquid?</p>
</aside>
